<section>
  <form [formGroup]="loginForm">
    <div class="base">
      <h1>ENTRAR</h1>
      <div class="input-base">
        <label>Usuário</label>
        <input formControlName="username" type="text" />
      </div>

      <div class="input-base">
        <label>Senha</label>
        <input formControlName="password" type="password" />
      </div>

      <button (click)="login()">Entrar</button>

      <div class="link"><span>Esqueci a senha</span></div>
      <div [routerLink]="['/signup']" class="link">
        <span>Cadastre-se</span>
      </div>
    </div>
  </form>
</section>
