<section>
  <form [formGroup]="registerForm">
    <div class="base">
      <h1>Cadastre-se</h1>
      <div class="input-base">
        <label for="">Nome</label>
        <input formControlName="name" type="text" />
      </div>

      <div class="input-base">
        <label for="">E-mail</label>
        <input formControlName="email" type="email" />
      </div>
      <div class="input-base">
        <label for="">Senha</label>
        <input formControlName="password" type="password" />
      </div>
      <div class="input-base">
        <label for="">Confirmação de senha</label>
        <input formControlName="password_corfirm" type="password" />
      </div>

      <div class="input-base">
        <label for="">Cargo</label>
        <input
          type="text"
          placeholder=""
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let position of filteredPositions | async"
            [value]="position"
          >
            {{ position }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <button (click)="register()">Cadastrar</button>

      <div [routerLink]="['/login']" class="link">
        <span>Já tenho cadastro</span>
      </div>
    </div>
  </form>
</section>
