section{
    display: flex;
    padding: 150px 50px;
    height: 100vh;
    justify-content: space-between;
    background-image: url('../../../assets/images/background-home.jpeg');
    background-color: #cccccc;
    background-size: cover;
}

.infos{
    color: #FFF;
}

h1{
    font-size: 2.5rem;
}

.base{
    min-width: 200px;
}