<section>
  <div class="infos container">
    <div class="col-8">
      <h1 id="title">
        53,4% dos estudantes no Brasil optam pela modalidade de ensino EaD
      </h1>
    </div>
    <span>DESCUBRA SUA VOCAÇÃO</span>
  </div>
  <div class="col-4">
    <form [formGroup]="registerForm">
      <div class="base">
        <h1>
          Faça parte dessa <br />
          revolução
        </h1>
        <div class="input-base">
          <label for="">Nome</label>
          <input formControlName="name" type="text" />
        </div>

        <div class="input-base">
          <label for="">Celular</label>
          <input formControlName="phone" type="text" />
        </div>

        <div class="input-base">
          <label for="">E-mail</label>
          <input formControlName="email" type="text" />
        </div>
        <div class="input-base">
          <label for="">Endereço</label>
          <input formControlName="zipCode" type="text" />
        </div>

        <div class="input-base">
          <label for="">Número</label>
          <input formControlName="number" type="number" />
        </div>

        <div class="input-base">
          <label for="">Curso</label>
          <input
            type="text"
            placeholder=""
            [formControl]="control"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let course of filteredCourses | async"
              [value]="course"
            >
              {{ course }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button (click)="register()">Enviar</button>
      </div>
    </form>
  </div>
</section>
