<section>
  <div class="infos container">
    <div class="col-8">
      <h1 id="title">
        53,4% dos estudantes no Brasil optam pela modalidade de ensino EaD
      </h1>
    </div>
    <span>DESCUBRA SUA VOCAÇÃO</span>
  </div>
  <div class="col-4">
    <div class="base">
      <h1>
        Faça parte dessa <br />
        revolução
      </h1>
      <div class="input-base">
        <label for="">Nome</label>
        <input type="text" />
      </div>

      <div class="input-base">
        <label for="">Celular</label>
        <input type="text" />
      </div>

      <div class="input-base">
        <label for="">E-mail</label>
        <input type="text" />
      </div>
      <div class="input-base">
        <label for="">Endereço</label>
        <input type="text" />
      </div>

      <button>Enviar</button>
    </div>
  </div>
</section>
