<section>
  <div class="infos">
    <h1>
      53,4% dos estudantes<br />
      no Brasil optam pela<br />
      modalidade de ensino<br />
      EaD
    </h1>
    <span>DESCUBRA SUA VOCAÇÃO</span>
  </div>
  <div class="base">
    <h1>
      Faça parte dessa <br />
      revolução
    </h1>
    <div class="input-base">
      <label for="">Nome</label>
      <input type="text" />
    </div>

    <div class="input-base">
      <label for="">Celular</label>
      <input type="text" />
    </div>

    <div class="input-base">
      <label for="">E-mail</label>
      <input type="text" />
    </div>
    <div class="input-base">
      <label for="">Endereço</label>
      <input type="text" />
    </div>

    <button>Enviar</button>
  </div>
</section>
