<app-base></app-base>
<section>
  <h1>DESCUBRA</h1>
  <p>CRIE INSIGHTS SOBRE SEU NEGÓCIO</p>
  <div class="dash">
    <div class="d-flex justify-content-around">
      <app-pie-chart></app-pie-chart>
      <div class="line"></div>
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="line-horizontal"></div>
    <div class="d-flex justify-content-around">
      <app-radar-chart></app-radar-chart>
      <div class="line"></div>
      <app-line-chart></app-line-chart>
    </div>
  </div>
</section>
